/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Luckiest+Guy&display=swap");

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url("/assets/img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: "Luckiest Guy", cursive;
    font-size: 60px;
    color: #7c21a2;
    margin-bottom: 20px;
}

h2 {
    color: #0e5886;
}

p { 
    font-size: 35px;
    text-align: center;
}

ul {
    list-style-type: none;
}

hr